In [1]:
import os
os.chdir(r"/home/yousinator/AuspicesAI/ScytheEx/ai")

from internal_lib import DataSetInformation, MachineLearning
import pandas as pd

In [11]:
train = pd.read_csv("data/training.csv")
test = pd.read_csv("data/testing.csv")

train_info = DataSetInformation(train)
test_info = DataSetInformation(test)

train.drop_duplicates(inplace=True)
test.drop_duplicates(inplace=True)

In [12]:
train_info.dataframe_summary()

### Shape:

(96822, 36)

### Columns and Metadata:

### Duplicated Rows:

       Duplicated Rows Count
Total                      0

In [13]:
test_info.dataframe_summary()

### Shape:

(49971, 36)

### Columns and Metadata:

### Duplicated Rows:

       Duplicated Rows Count
Total                      0

In [14]:
train_info.categorical_summary()

### Categorical Columns Summary:

### Column: service

#### Value Counts and Percentage Distribution:

---

### Column: state

#### Value Counts and Percentage Distribution:

---

### Column: attack_cat

#### Value Counts and Percentage Distribution:

---

# Encoding the Data

In [ ]:
from sklearn.preprocessing import LabelEncoder